<!-- ▼▼▼ ヒーロー ▼▼▼ -->
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <p class="title">タイトルが入ります</p>
    <p class="subtitle">サブタイトル</p>
  </div>
</section>
<!-- ▲▲▲ ヒーロー ▲▲▲ -->