<div class="box content">
  <h2>ご不明な点はお気軽にお問い合わせください</h2>
  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  <div class="buttons">
    <a href="#" class="button is-primary">よくあるご質問</a>
    <a href="#" class="button is-secondary">お問い合わせ</a>
  </div>
</div>