{% macro default(TITLE, SUB_TITLE) %}
<!-- ▼▼▼ ヒーロー ▼▼▼ -->
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">{{ TITLE }}</p>
    <p class="subtitle">{{ SUB_TITLE }}</p>
  </div>
</section>
<!-- ▲▲▲ ヒーロー ▲▲▲ -->
{% endmacro %}