{% macro default(ITEMS) %}
  {% for ITEM in ITEMS %}
    <article class="media">
      <figure class="media-left">
        <p class="image is-128x128">
          <img class="is-rounded" src="{{ ITEM.thumb }}">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h2>{{ ITEM.name }}</h2>
          <p>{{ ITEM.description }}</p>
          <a href="{{ ITEM.link }}">詳細を見る</a>
        </div>
      </div>
    </article>
  {% endfor %}
{% endmacro %}

{% macro small(ITEMS) %}
  <div class="columns is-flex-wrap-wrap">
    {% for ITEM in ITEMS %}
      <div class="column is-4">
        <p class="image is-128x128">
          <img class="is-rounded" src="{{ ITEM.thumb }}">
        </p>
        <div class="content">
          <h2>{{ ITEM.name }}</h2>
          <a href="{{ ITEM.link }}">詳細を見る</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}